*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
}
.logo{
    height: 4.2em;
}
.main-nav-list{

    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
}
.main-nav-link:link, .main-nav-link:visited{
   display: inline-block;
   text-decoration: none;
   color: #333;
   font-weight: 600;
   font-size: 1.8rem;
   transition: all 0.3s;
}
.main-nav-link:hover, .main-nav-link:active{
    color: #cf711f;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
    transition: all 0.3s;
 
}
.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active{
    background-color: #cf711f;
}
.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
    
}
.hero{
   max-width: 130rem;
   margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    
}  
.heading-primary{

    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;

} 
.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.btn:link, btn:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.btn--full:link, .btn--full:visited{
    background-color: #e67e22;
    color: #fff;

}

.btn--full:hover,.btn--full:active{
    background-color: #cf711f;
}

.btn--outline:link, .btn--outline:visited{
    background-color: #fff;
    color: #555;
}
.btn--outline:hover,.btn--outline:active{
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}
.hero-img{
    width: 100%;
}

.margin-right{
    margin-right: 1.6rem !important;
}

.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 9.6rem;

}
.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}
.section-how{
    padding: 9.6rem 0;
}
.step-img{
    width: 50%;
}
